<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>

    <div class="container mb-3">

      <h2 class="mb-3">PPT 삽입 예정</h2>

      <P>123</p>

    </div>
  </body>
</html>
