<!DOCTYPE html>
<html>
  <head>
    <%- include('../partials/head') %>
  </head>
  <body>
    <%- include('../partials/nav') %>
    
    <div class="container mb-3">

      <div class="jumbotron">
        <h1>관리자용 DB제어 홈페이지</h1>
	<br>
      </div>
      
    </div>
  </body>
</html>
