<!DOCTYPE html>
<html>
	<head>
		<%- include('../partials/head') %>
		<style>
			h1{
				text-align: center;
				font-size: 50px;
				line-height: 50px;
				margin: 10px 0 10px 0;
				text-shadow: 1px 1px 5px #789;
				color: #0B62A4;
			}
		</style>
	</head>
	<body>
		<%- include('../partials/nav') %>    
		<div class="container mb-3">
			<div class="jumbotron">
				<h1>PPP - Packet Pirate Project</h1>
				<br>
			</div>
      
		</div>
	</body>
</html>
