<!DOCTYPE html>
<html>
	<head>
		<%- include('../partials/head') %>
		<style>
			h1{
				text-align: center;
				font-size: 50px;
				line-height: 50px;
				margin: 10px 0 10px 0;
				text-shadow: 1px 1px 3px #2E3037;
				color: #39C0BA;
			}
			img{
				width: 100%;
				margin: auto;
				display: block;
			}
		</style>
	</head>
	<body>
		<%- include('../partials/nav') %>    
		<div class="container mb-3">
			<div class="jumbotron">
				<h1>PPP - Packet Pirate Project</h1>
				<br>
				<img src="https://cdn.discordapp.com/attachments/1072700908246409289/1077590690239873115/1.PNG">
				<img src="https://cdn.discordapp.com/attachments/1072700908246409289/1077590690432827502/2.PNG">
				<img src="https://cdn.discordapp.com/attachments/1072700908246409289/1077590690697056396/3.PNG">
			</div>
			
      
		</div>
	</body>
</html>
